#content {
  width: 60vw;
}

#headerimg {
  display: block;
  width: 44vh;
  margin-left: auto;
  margin-right: auto;
}

#homepagebutton {
  margin-top: 10px;
}

#randombutton {
  margin-bottom: 4vh;
}
